@mixin flex($alignItem, $justifyContent) {
    display: flex;
    align-items: $alignItem;
    justify-content: $justifyContent;
}

@mixin android {
    @media only screen and (max-width: 400px) {
        @content;
    }
}
